{% extends "base.html" %}
{% load static %}

{% block title %}<title>Register</title>{% endblock title %}
{% block style %}{% static "css/login_style.css" %}{% endblock style %}
{% block content %}
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h3 class="login-title">Register</h3>
        </div>

        <form method="POST" action="">
            {{form.as_p}}

            <button type="submit" class="btn btn-login">Register</button>


            {% csrf_token %}
        </form>

        <div class="login-footer">
            already have an account? <a href={%url 'login' %}>Log in</a>
        </div>
    </div>
</div>
</div>
</div>

<div class="theme-toggle" id="themeToggle">
    <i class="bi bi-moon-fill" id="themeIcon"></i>
</div>

<script src="{% static 'js/themeManager.js'%}"></script>
<script src={%static "js/bootstrap.bundle.min.js" %}></script>
{% endblock %}